@use "colors" as *;

popover {
    margin-top: 8px;

    arrow,
    contents {
        background: $bg;
        border: 1px solid $border;
    }

    contents {
        color: $fg;
        border-radius: 8px;
        box-shadow: 0 4px 12px $shadow;
    }

    modelbutton arrow {
        -gtk-icon-style: symbolic;
        background: transparent;
        border: none;
        color: $fg;
    }
}

label {
    font-size: 1em;
    font-weight: 400;

    &.label-subtitle {
        font-size: 0.85em;
        opacity: 0.7;
    }

    &.label-h1 {
        font-size: 1.15em;
        font-weight: 600;
    }

    &.label-h2 {
        font-size: 1em;
        font-weight: 600;
    }
}

button {
    padding: 2px 12px;
    background: $bg;

    &:hover {
        background: $bg-hover;
    }

    &:active {
        background: $bg-active;
    }

    &.highlight {
        background: $accent;

        &:hover {
            background: $accent-hover;
        }

        &:active {
            background: $accent-active;
        }
    }
}

menubutton {
    > button {
        padding: 2px 12px;
        background: $bg;

        &:hover {
            background: $bg-hover;
        }

        &:active {
            background: $bg-active;
        }
    }

    &.highlight > button {
        background: $accent;

        &:hover {
            background: $accent-hover;
        }

        &:active {
            background: $accent-active;
        }
    }
}

menubutton > button contents {
    border: none;
    box-shadow: none;
    background: transparent;
}

scale {
    padding: 0;

    trough {
        all: unset;
        background: $bg-hover;
        min-height: 18px;
        border-radius: 8px;
    }

    highlight {
        all: unset;
        min-height: 18px;
        border-radius: 8px;
        background: $accent;
    }

    slider {
        all: unset;
        border-radius: 8px;
        margin: 0;
    }
}

switch {
    min-height: 20px;

    &:checked {
        background: $accent;
    }
}
