@use "colors" as *;

@mixin bar-segment {
    padding: 2px 16px;
    border-radius: 9999px;
    border: 1px solid $border;
    background: $bg;
    color: $fg;
}

.bar {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 2px;

    box,
    centerbox {
        &.bar-segment {
            @include bar-segment;
        }
    }

    button.bar-segment,
    menubutton.bar-segment > button {
        @include bar-segment;

        &:hover {
            background: $bg-hover;
        }

        &:active {
            background: $bg-active;
        }
    }
}
