@use "colors" as *;

@mixin bar-segment {
    padding: 2px 16px;
    border-radius: 9999px;
    background: $bg;
    color: $fg;
}

@mixin highlight {
    background: $accent;
    color: $fg-on-accent;
}

@mixin interactive($hover-bg, $active-bg) {
    &:hover {
        background-color: $hover-bg;
    }

    &:active {
        background-color: $active-bg;
    }
}

.bar {
    margin: 2px 12px 0;

    box.bar-segment,
    centerbox.bar-segment,
    button.bar-segment {
        @include bar-segment;

        &.highlight {
            @include highlight;
        }
    }

    menubutton.bar-segment > button {
        @include bar-segment;
    }

    menubutton.bar-segment.highlight > button {
        @include highlight;
    }

    button.bar-segment,
    menubutton.bar-segment > button {
        @include interactive($bg-hover, $bg-active);
    }

    button.bar-segment.highlight,
    menubutton.bar-segment.highlight > button {
        @include interactive($accent-hover, $accent-active);
    }

    label {
        font-weight: 400;
    }
}
