@use "colors" as *;

@mixin bar-segment-base {
    padding: 2px 16px;
    border-radius: 9999px;
    border: 1px solid $border;
    background: $bg;
    color: $fg;
}

@mixin bar-segment-highlight {
    background: $accent;
    border-color: $accent-border;
    color: $fg-on-accent;
}

@mixin bar-segment-btn-base {
    &:hover {
        background: $bg-hover;
    }

    &:active {
        background: $bg-active;
    }
}

@mixin bar-segment-btn-highlight {
    &:hover {
        background: $accent-hover;
    }

    &:active {
        background: $accent-active;
    }
}

.bar {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 2px;

    box,
    centerbox {
        &.bar-segment {
            @include bar-segment-base;

            &.highlight {
                @include bar-segment-highlight;
            }
        }
    }

    button.bar-segment {
        @include bar-segment-base;
        @include bar-segment-btn-base;

        &.highlight {
            @include bar-segment-highlight;
            @include bar-segment-btn-highlight;
        }
    }

    menubutton.bar-segment {
        > button {
            @include bar-segment-base;
            @include bar-segment-btn-base;
        }

        &.highlight > button {
            @include bar-segment-highlight;
            @include bar-segment-btn-highlight;
        }
    }
}
