@use "colors" as *;

@mixin bar-component {
    padding: 2px 16px;
    border-radius: 9999px;
    border: 1px solid $border;
    background: $bg;
    color: $fg;
}

window.bar {
  background: transparent;
}
