@use "colors" as *;

@mixin interactive {
    background: none;
    border-radius: 4px;

    &:hover {
        background-color: $bg-hover;
    }

    &:active {
        background-color: $bg-active;
    }
}

.notification-center {
    margin-top: 8px;

    contents {
        background-color: $bg;
        color: $fg;

        .main {
            min-width: 400px;

            .header {
                margin-left: 6px;

                switch {
                    &:checked {
                        background: $accent;
                    }
                }

                label {
                    font-size: 1.2em;
                    font-weight: 600;
                }

                .clear-all {
                    @include interactive;
                }
            }

            .empty {
                padding: 24px;

                label {
                    opacity: 0.5;
                }
            }
        }
    }
}

.notification-popups {
    min-width: 400px;
}

.notification {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid $border;
    background: $bg;

    &:hover {
        background: linear-gradient(0deg, $bg-hover 0%, $bg 100%);
    }

    &:active {
        background: linear-gradient(0deg, $bg-active 0%, $bg-hover 100%);
    }

    .summary {
        font-size: 0.9em;
        font-weight: 600;
    }

    .body {
        font-size: 0.9em;
        opacity: 0.8;
    }

    .dismiss {
        @include interactive;

        min-width: 16px;
        min-height: 16px;
        padding: 2px;
    }

    .actions {
        button.action {
            @include interactive;

            font-size: 0.9em;
            padding: 2px 24px;
            background: $bg;
            border-radius: 9999px;
            border: 1px solid $border;

            &:hover {
                background-color: $bg-hover;
            }

            &:active {
                background-color: $bg-active;
            }

            label {
                font-weight: 400;
            }
        }
    }
}
