@use "sass:color";
@use "colors" as *;

menubutton.power.bar-segment > button {
    background: $accent;
    border-color: $accent-border;
    color: $fg;

    &:hover {
        background: $accent-border;
    }

    &:active {
        background: color.adjust($accent-border, $lightness: -10%);
    }
}

menubutton.power > popover button label {
    font-weight: 400;
}
