@use "colors" as *;

@mixin interactive($hover-bg, $active-bg, $vpad, $hpad) {
    padding: $vpad $hpad;
    background: none;
    border-radius: 4px;

    &:hover {
        background-color: $hover-bg;
    }

    &:active {
        background-color: $active-bg;
    }
}

.tray {
    > button {
        @include interactive($bg-hover, $bg-active, 1px, 2px);

        > image {
            -gtk-icon-style: symbolic;
        }

        > popover > contents {
            background: $bg;
            color: $fg;

            modelbutton {
                @include interactive($bg-hover, $bg-active, 2px, 8px);
            }
        }
    }
}
