@use "colors" as *;

.tray {
    .tray-item {
        padding: 2px 4px;
        border-radius: 4px;

        &:hover {
            background: $bg-hover;
        }

        &:active {
            background: $bg-active;
        }

        image {
            -gtk-icon-style: symbolic;
            color: $fg;
        }
    }
}
